<!--<h1>SQID-RPS</h1>-->

<script type="text/javascript">
	$(document).ready(function(){
		
	})
</script>
<div class="center hero-unit">
  <%= link_to image_tag("/assets/rps-logo-01.png", alt: "Rails"),															  'http://rubyonrails.org/' %>
  <h1>
  	SQID-RPS
  </h1>

  <h2>
    This is the home page for test.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

