<footer class="footer">
  <small>
    <a href="http://sqid-rps.herokuapp.com/">RPS system co.th v1.0.0</a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>