<footer class="footer" style="padding-left: 30px;padding-right: 30px;">
  <small>
    <a href="http://sqid-rps.herokuapp.com/">RPS system co.,ltd. v1.0.0</a>
    
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
<script type="text/javascript">
	$(document).ready(function(){
		$('#notice').show().fadeOut(10000);
		$('.navbar .dropdown').hover(function() {
	        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
	        
	    }, function() {
	        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
	        
	    });
	 });
</script>